<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

# Deny access to sensitive files and directories
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>
